@charset "utf-8";
/* 找回密码 */
.retpass_title{height:40px; font-size:14px; line-height:40px; font-weight:bold;}
.retpass_title p{ display:inline-block;}
.retpass_title a{color:#555555;}
.retpass_title span{ color:#999999;}
.retpass_center{width:1200px; height:322px; background:#fff;color:#666666;}
.retpass_center_title{height:78px;}
.retpass_center_titlefont{padding-top:27px; padding-left:20px; font-weight:bold; display:inline-block;}
.retpass_center_title img{ margin-top:20px; margin-right:20px; float:right;}
.retpass_center_input{height:45px; margin-top:18px; color:#666666; position:relative;}
.retpass_center_inputicon{ position:absolute; top:10px; left:500px;}
.retpass_center_inputfont{ width:85px; text-align:right;margin-left:386px;margin-right:20px; float:left; line-height:45px;}
.retpass_center_inputlong{ width:260px; height:42px; border:1px solid #d2d2d2; border-radius:5px; padding-left:37px; float:left;}
.retpass_center_input_promptgray{ height:45px; font-size:14px; float:left; line-height:45px; color:#666666; margin-left:10px;}
.retpass_center_input_promptred{height:45px; font-size:14px; float:left; line-height:45px; color:#ff3333;margin-left:10px;}
.retpass_center_inputshort{width:129px; height:42px; border:1px solid #d2d2d2; border-radius:5px; padding-left:6px; float:left;}
.retpass_center_inputyam{ width:145px; height:41px; border:1px solid #d2d2d2; float:left; margin-left:20px;}
.retpass_center_inputdtm{width:145px; height:41px; border:1px solid #c6981f; float:left; margin-left:20px; color:#c6981f; text-align:center; line-height:41px; border-radius:5px; cursor:pointer; }
.retpass_success{ width:291px; height:66px; margin:45px auto 24px;}

.retpass_djs{margin-left: 20px;}
.retpass_djsfont{ margin-left: 490px; margin-top: 10px;}