  .under{text-decoration:underline }
  #moneyDiv{border:1px solid #DDDDDD}
  .projectDiv{margin-top:15px;margin-bottom:10px;border:1px solid #DDDDDD}
  .tdwidth{padding-left:20px;}
  .sys{color:#999999}
  td{padding-bottom:10px;} 
  td.font{font-size :20px;color:#6C63AD;padding-bottom:15px;}
  td.fonts{font-weight: bold}
  td.fonts1{font-weight: bold;color:#2438CD}
