@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, pre, form, p, fieldset, legend, input, button, select, textarea, th, td { margin:0; padding:0; }
body, input, button, select, textarea { color:#555; font:12px/1.5 Tahoma, Arial, Geneva, sans-serif;}
ul, ol { list-style:none; }
fieldset, img { border:0; }
em, cite{ font-style:normal;}
input, button, select, label, img{ vertical-align:middle;}
h1, h2, h3, h4, h5, h6, th {font-size:100%;}
.clearfix:after{ content:"."; display:block; clear:both; height:0; visibility:hidden;}
.clearfix { *zoom:1;}
a{ color:#333; text-decoration:none;}
a:hover{text-decoration:underline;}

#header{
	background-color: #e4ecfa;
	border-bottom: 1px solid #A3BDE5;
}
.header-bd {position:relative; margin:0 10px; padding:5px 0 8px;}
.login-logo{ float:left; width:150px; height:42px; text-indent:-9999px; overflow:hidden; margin-right:15px; border-right:1px solid #ccc; background:url(../images/LOGO-N-FIVE.png) no-repeat 50% 50%;}
.login-top-text { float:left; margin-top:2px; *margin-top:4px; font-size:2em; color:#666; font-family:"微软雅黑";}

.content { min-height:542px; _height:468px; text-align:center;}
.login-wrapper { display:inline-block; *display:inline; *zoom:1; min-width:210px; _width:210px; text-align:left; padding:20px 30px 20px 180px; margin-top:140px; border-radius:8px; border:1px solid #bbb; -webkit-box-shadow:0 0 8px rgba(0,0,0,.2); box-shadow:0 0 8px rgba(0,0,0,.2); background:#FCFCFC url(../images/LOGO-N-FIVE.png) no-repeat 30px 50%;}
.login-form-item { padding:3px 0;}
.login-form-item dt { margin-bottom:3px; font-size:14px;}
.input-text { height:18px; line-height:18px; padding:4px 3px; border-radius:2px; border:1px solid; background-color:#fff; border-color:#888 #bbb #bbb #888; width:180px; outline:0; -webkit-transition:background-color .2s; -moz-transition:background-color .2s; -ms-transition:background-color .2s; transition:background-color .2s;}
.input-text:focus { border-color:#5194fa;}
.input-btn { height:30px; line-height:28px; cursor:pointer; padding:0 20px; *padding:0 10px; border:1px solid #204187; color:#fff; font-size:14px; outline:0; vertical-align:bottom; *vertical-align:baseline;
	border-radius: 2px;
	background: #006DCC;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#2b8cbc),color-stop(100%,#1b469b));
	background: -webkit-linear-gradient(top, #2b8cbc,#1b469b);
	background: -moz-linear-gradient(top, #2b8cbc,#1b469b);
	background: -ms-linear-gradient(top, #2b8cbc,#1b469b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b8cbc',endColorstr='#1b469b',GradientType=0);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.input-btn[disabled]{opacity:.5; filter:alpha(opacity=50); cursor:default;}
.login-btn-area { margin-top:8px;}

.footer-inner { padding:10px; background:#e7eefb; border-top:1px solid #A3BDE5;}
.footer-inner p { padding:3px 0; text-align:center;}